.tripsContainer{
    margin-top: 5em;
    padding-inline: 20px;
}
.loading{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failedSearch {
    position: relative;
    width: 100%;
    padding-inline: 1em;
    text-align: center;
    top: 50%;
    font-size: 1.3em;
    transform: translateY(-50%)
}