.main__title {
    position: absolute;
    top: 21vh;
    width: 210px;
    left: 20px;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
.main__createButton {
    position: absolute;
    top: 34vh;
    left: 50px;
    padding: 10px;
    background-color: rgb(255 87 187 / 60%);
    border-radius: 12px;
    border: none;
    padding-inline: 20px;
    font-size: 20px;
    cursor: pointer;
}
.main__browseButton {
    position: absolute;
    top: 45vh;
    left: 50px;
    padding: 10px;
    background-color: #0091ad99;
    border-radius: 12px;
    border: none;
    padding-inline: 20px;
    font-size: 20px;
    cursor: pointer;
}