.container {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > * {
    margin-bottom: 5em;
}

.link {
    z-index: 100;
    margin-top: 3em;
    font-size: 1.2em;
    width: min-content;
    white-space: pre;
    margin-inline: auto;
    padding-inline: .2em;
}

.link, .link:visited {
    color: #0091AD;
    border-bottom: 1px solid #0091AD;
}