.container {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr 4em 3em;
    padding-inline: 2em;
    overflow: hidden;
}

.back {
    z-index: 300;
    width: min-content;
}

.background-swiper {
    height: 100%;
    width: 100%;
}

.background-swiper * {
    z-index: -100;
}

.background-swiper--image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.filter {
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
}

.country {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 100;
}

.city-swiper {
    width: 100%;
}

.city {
    text-align: right;
}

.foreground-swiper {
    width: 100%;
    position: relative;
}

.foreground-swiper {
    display: grid;
    grid-template-rows: 1fr 2em 5em;
}

.foreground-swiper--image {
    padding: 1em;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.sublocation {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: .8em;
}

.description {
    text-align: justify;
    padding-inline: 1em;
    font-style: italic;
}

.control-swiper {
    position: absolute !important;
    inset: 1em 0 0 3em;
}

.control-swiper * {
    z-index: 500 !important;
}

.control-swiper--slide {
    height: 100%;
}

.reset {
    z-index: 100;
    background: none;
    border: none;
    font-size: 1.2em;
}