.header{
    color:black;
    background-color: #FFF4E4;
    height: 80px;
    position: relative;
}

/* .header__backButton {
    position: absolute;
    left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
} */

.header__logo {
    width: min-content;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);

}

.header__logoImg{
    height: 40px;
    position: relative;
    margin-right: -2px;
    z-index: -1;
}

.header__title{
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__sign {
    position: absolute;
    right: 10px;
    height: 100%;
}

.header__signIcon{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 48px;
}