.searchForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    position: fixed;
    background-color: white;
    padding-block: 1em;
    top: 4.8em;
}
.searchForm__input{
    flex-grow:1;
    border:none;
    font-size: 1.2em;
}

.searchForm__input:focus {
    outline: none;
}

.searchForm__submit{
    background: none;
    border: none;
    font-size: 2.2em;
    padding-top: 0.2em;
}

.searchForm__x {
    font-size: 2em;
    margin-top: 5px;
}

.searchForm__inputContainer {
    display: flex;
    border: 2px solid #0091ad;
    border-radius: 15px;
    width: 65%;
    height: 3.5em;
    padding:4px
}