.card {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1.2em;
}
.card__country{
    margin: 0;
    font-size: 22px;
}

.card__city{
    font-weight: 300;
}
.card__image{
    margin-block: 0.5em;
    border-radius: 12px;
    align-self: center;
    width: 85%;
    height: 200px;
    object-fit: cover;
}
.card__dateAndUser{
    display: flex;
    justify-content: space-between;
    padding-inline: 1.6em;
}
.card__arrow {
    position: relative;
    top: 3px;
    z-index: -100;
}
.card__date{
    font-weight: 300;
}
.card__userName{

}
.card__editIcon {
    position: absolute;
    top: 3.1em;
    right: 1.2em;
    font-size: 2em
}

.card__deleteIcon {
    position: absolute;
    top: 3.1em;
    right: 2.5em;
    font-size: 2em
}